# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Virtual environments
.env
.venv

# Editor files
*.swp
*.swo
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# App data
.timeclock/
sessions.json
